env/
venv/
.git/
.idea/
examples/
README.md
allure-report_from_container/
.pytest_cache/
.trial_lessons/
.trial_tests/
/access.log
.lesson1/
.lesson19/
.lesson2/
.lesson3/
.lesson4/
.lesson6/
.lesson8/
.lesson12/
.lesson15/